body {
    background: #a8bf7e;
  }

  .container {
    width: 27%;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(5,1fr) ;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #a0d0ea;
  }
  .container > div {
    box-shadow: 2px 4px 2px #aca6a6;
    color: #5e5c5c;
    font-weight: bold;
    padding: 21px 21px;
    background-color: #efefef;
    text-align: center;
    font-size: 34px;
  }
  .screen {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  div .sign {
    background: #efff93;
  }
  div .btn94 {
    background: #fd9faa;
  }
  div .screen {
    background: #f1fbeb;
  }